body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: #fafafa;
  color: #111;
}


* {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
}
